<template name="Footer">
    <footer class="text-center">
            <hr />
            <div>
                <div class="row footer-1">
                    <div class="col-md-4">
                        <h3>More about NSIT Students' Council</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <div class="col-md-4">
                        <h3>Social Media</h3>
                        <ul class="text-center">
                            <li><a href="http://facebook.com/studentscouncilnsit" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true">    Facebook</i></a></li>
                            <li><a href="http://nsit.ac.in" target="_blank"><i class="fa fa-location-arrow" aria-hidden="true"> NSIT</i></a></li>
                            <li><a href="facebook.com"><i class="fa fa-envelope-o" aria-hidden="true">  Email</i></a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h3>Contact Information</h3>
                        <ul class="text-center">
                            <li><i class="fa fa-phone" aria-hidden="true">  011 261XXXXX</i></li>
                            <li><i class="fa fa-address-book" aria-hidden="true">   Azad Hind Fauj Marg, Sector 3<br />Dwarka New Delhi</i></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>Made with <span id="red"> &hearts;</span> by Vishesh Balani</h5>
                        <h5>&copy; Vishesh Balani 2017</h5>
                    </div>
                </div>
            </div>
        </footer>
</template>
