<template name="Header">

    <head>
    <meta charset="UTF-8" lang="en">
    <meta name="description" content="A work in Progress website for the SAC of NSIT">
    <meta name="keywords" content="NSIT, NSIT SAC, Student Council, Activities, Netaji Subhas Institute of Technology, vishesh, balani">
    <meta name="author" content="Vishesh Balani">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" sizes="32x32" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    </head>

    <nav class="navbar navbar-inverse bg-primary" role="navigation">
   	<div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">NSIT SAC</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Home<span class="sr-only"></span></a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Departments<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/StudentAffairs">Student Affairs</a></li>
                <li><a href="/ExternalAffairs">External Affairs</a></li>
                <li><a href="/StudentActivities">Student Activities</a></li>
                <li><a href="/AcademicAffairs">Academic Affairs</a></li>
            </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="">Initiatives<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/How">How To's</a></li>
                <li><a href="/SMP">Student Mentor Program</a></li>
                <li><a href="https://docs.google.com/spreadsheets/d/1Uyvciker4tKF-K_fLUZN0NDzJZg8aEND31iW2qiqo8I/edit?usp=sharing" target="_blank">Issue Tracker</a></li>
            </ul>
            </li>
            <li class="active"><a href="/Members">Members</a></li>
        </ul>
        </div>
    </nav>
</template>
